# Making chloropleth maps in Altair

Here's a quick example of how to make a chloropleth map in Altair.  In this example, we'll work with a fairly large data set of baby names in France from 1900-2019, broken down by department.

To work with geographical data, we'll use the `geopandas`, which loads `pandas` dataframes, but with support for geographical outlines in the `geojson` format.  You can use these dataframes just as you would a regular `pandas` dataframe, but they will include that extra geographical outline data.

To get started, we'll need to import our libraries.

In [6]:
!pip install 'geopandas[all]'

python(60719) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.

Collecting geopandas[all]
  Downloading geopandas-1.0.1-py3-none-any.whl.metadata (2.2 kB)
Requirement already satisfied: numpy>=1.22 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (1.26.4)
Collecting pyogrio>=0.7.2 (from geopandas[all])
  Downloading pyogrio-0.11.0-cp311-cp311-macosx_12_0_arm64.whl.metadata (5.3 kB)
Requirement already satisfied: packaging in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (23.1)
Requirement already satisfied: pandas>=1.4.0 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (2.2.2)
Collecting pyproj>=3.3.0 (from geopandas[all])
  Downloading pyproj-3.7.1-cp311-cp311-macosx_14_0_arm64.whl.metadata (31 kB)
Collecting shapely>=2.0.0 (from geopandas[all])
  Downloading shapely-2.1.1-cp311-cp311-macosx_11_0_arm64.whl.metadata (6.8 kB)
Collecting psycopg-binary>=3.1.0 (from geopandas[all])
  Downloading psycopg_binary-3.2.9-cp311-cp311-macosx_11_0_arm64.whl.metadata (2.9 kB)
Requirement already satisfied: SQLAlchemy>=1.3 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (2.0.25)
Collecting geopy (from geopandas[all])
  Downloading geopy-2.4.1-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: matplotlib>=3.5.0 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (3.8.0)
Collecting mapclassify (from geopandas[all])
  Downloading mapclassify-2.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: xyzservices in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (2022.9.0)
Collecting folium (from geopandas[all])
  Downloading folium-0.19.6-py2.py3-none-any.whl.metadata (4.1 kB)
Collecting GeoAlchemy2 (from geopandas[all])
  Downloading GeoAlchemy2-0.17.1-py3-none-any.whl.metadata (2.3 kB)
Requirement already satisfied: pyarrow>=8.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from geopandas[all]) (14.0.2)
Requirement already satisfied: contourpy>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (1.4.4)
Requirement already satisfied: pillow>=6.2.0 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /opt/anaconda3/lib/python3.11/site-packages (from matplotlib>=3.5.0->geopandas[all]) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.4.0->geopandas[all]) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /opt/anaconda3/lib/python3.11/site-packages (from pandas>=1.4.0->geopandas[all]) (2023.3)
Requirement already satisfied: certifi in /opt/anaconda3/lib/python3.11/site-packages (from pyogrio>=0.7.2->geopandas[all]) (2024.8.30)
Requirement already satisfied: typing-extensions>=4.6.0 in /opt/anaconda3/lib/python3.11/site-packages (from SQLAlchemy>=1.3->geopandas[all]) (4.9.0)
Collecting branca>=0.6.0 (from folium->geopandas[all])
  Downloading branca-0.8.1-py3-none-any.whl.metadata (1.5 kB)
Requirement already satisfied: jinja2>=2.9 in /opt/anaconda3/lib/python3.11/site-packages (from folium->geopandas[all]) (3.1.3)
Requirement already satisfied: requests in /opt/anaconda3/lib/python3.11/site-packages (from folium->geopandas[all]) (2.31.0)
Collecting geographiclib<3,>=1.52 (from geopy->geopandas[all])
  Downloading geographiclib-2.0-py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: networkx>=2.7 in /opt/anaconda3/lib/python3.11/site-packages (from mapclassify->geopandas[all]) (3.1)
Requirement already satisfied: scikit-learn>=1.0 in /opt/anaconda3/lib/python3.11/site-packages (from mapclassify->geopandas[all]) (1.2.2)
Requirement already satisfied: scipy>=1.8 in /opt/anaconda3/lib/python3.11/site-packages (from mapclassify->geopandas[all]) (1.11.4)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/anaconda3/lib/python3.11/site-packages (from jinja2>=2.9->folium->geopandas[all]) (2.1.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.11/site-packages (from python-dateutil>=2.7->matplotlib>=3.5.0->geopandas[all]) (1.16.0)
Requirement already satisfied: joblib>=1.1.1 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn>=1.0->mapclassify->geopandas[all]) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/anaconda3/lib/python3.11/site-packages (from scikit-learn>=1.0->mapclassify->geopandas[all]) (2.2.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium->geopandas[all]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium->geopandas[all]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/anaconda3/lib/python3.11/site-packages (from requests->folium->geopandas[all]) (2.0.7)
Downloading psycopg_binary-3.2.9-cp311-cp311-macosx_11_0_arm64.whl (4.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.1/4.1 MB 14.4 MB/s eta 0:00:0000:0100:01
Downloading pyogrio-0.11.0-cp311-cp311-macosx_12_0_arm64.whl (19.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 19.5/19.5 MB 7.5 MB/s eta 0:00:0000:0100:01
Downloading pyproj-3.7.1-cp311-cp311-macosx_14_0_arm64.whl (4.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 8.8 MB/s eta 0:00:0000:0100:01
Downloading shapely-2.1.1-cp311-cp311-macosx_11_0_arm64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 9.3 MB/s eta 0:00:00ta 0:00:01
Downloading folium-0.19.6-py2.py3-none-any.whl (112 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.5/112.5 kB 10.9 MB/s eta 0:00:00
Downloading GeoAlchemy2-0.17.1-py3-none-any.whl (77 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 77.8/77.8 kB 5.7 MB/s eta 0:00:00
Downloading geopandas-1.0.1-py3-none-any.whl (323 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 323.6/323.6 kB 8.8 MB/s eta 0:00:00
Downloading geopy-2.4.1-py3-none-any.whl (125 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 125.4/125.4 kB 7.7 MB/s eta 0:00:00
Downloading mapclassify-2.8.1-py3-none-any.whl (59 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.1/59.1 kB 5.5 MB/s eta 0:00:00
Downloading branca-0.8.1-py3-none-any.whl (26 kB)
Downloading geographiclib-2.0-py3-none-any.whl (40 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 40.3/40.3 kB 5.3 MB/s eta 0:00:00
Installing collected packages: shapely, pyproj, pyogrio, psycopg-binary, geographiclib, geopy, GeoAlchemy2, branca, mapclassify, geopandas, folium
Successfully installed GeoAlchemy2-0.17.1 branca-0.8.1 folium-0.19.6 geographiclib-2.0 geopandas-1.0.1 geopy-2.4.1 mapclassify-2.8.1 psycopg-binary-3.2.9 pyogrio-0.11.0 pyproj-3.7.1 shapely-2.1.1

In [1]:
import altair as alt
import pandas as pd
import geopandas as gpd # Requires geopandas -- e.g.: conda install -c conda-forge geopandas
alt.data_transformers.enable('json') # Let Altair/Vega-Lite work with large data sets

pass

# Reading our names data

Now, let's read in our dataset.  The exported data is in CSV format, but with a `;` separator instead of commas.  The INSEE data collapses rare names or where department-level information has been elided (presumably to protect individuals with uncommon names or who were one of the only ones born with that name in a given year).  We'll strip those out.

In [2]:
names = pd.read_csv("dpt2020.csv", sep=";")
names.drop(names[names.preusuel == '_PRENOMS_RARES'].index, inplace=True)
names.drop(names[names.dpt == 'XX'].index, inplace=True)

names.sample(5)

         sexe   preusuel annais  dpt  nombre
2581629     2  HENRIETTE   1914   04       6
1074561     1      MALEK   1983   93       3
479753      1    ESTEBAN   2017   50       6
2375755     2       EMMA   2002  973       4
1245563     1     NASSIM   2004   21       3

# Loading map data

Next, let's load some map data of regions in France using `geopandas`.  These map data come from the [INSEE] and [IGN] and were processed into the `geojson` format we'll need to work with by [Grégoire David].  Here's the [github] repository.

In this example, we'll work with the simplified departments tiles for the Hexagon, but that repository contains higher-resolution versions, the DOM-TOM, and more.

[Grégoire David]: https://gregoiredavid.fr
[INSEE]: http://www.insee.fr/fr/methodes/nomenclatures/cog/telechargement.asp
[IGN]: https://geoservices.ign.fr/adminexpress
[github]: https://github.com/gregoiredavid/france-geojson/

In [3]:
depts = gpd.read_file('departements-version-simplifiee.geojson')

depts.sample(5)

   code              nom                                           geometry
27   29        Finistère  MULTIPOLYGON (((-5.1026 48.43612, -5.1036 48.4...
63   63      Puy-de-Dôme  POLYGON ((2.56538 46.14303, 2.64069 46.11848, ...
65   65  Hautes-Pyrénées  MULTIPOLYGON (((-0.10308 43.24282, -0.12194 43...
6    07          Ardèche  POLYGON ((4.48313 45.23645, 4.54055 45.23475, ...
68   68        Haut-Rhin  POLYGON ((7.19828 48.31047, 7.24173 48.30243, ...

Notice how `depts` is a geopandas dataframe.  We'll use it just as a regular `pandas` dataframe, but it includes the geometry info we need to be able to draw those regions when we pass them into Altair.  We just need to make sure that when we work with our data, we keep them in a geopandas dataframe and not a plain dataframe if we want to draw the departments.

In the next cell, notice how we do a right-merge to bring in department data into names.  We do this as a merge on `depts` because we need a geopandas dataframe.  Remember, `depts` is a geopandas dataframe, while `names` is a regular dataframe.  If we did a left merge on `names`, we'd end up with a regular pandas dataframe. After this merge, both `names` and `depts` will be geopandas dataframes.

**Hint:** Be careful when you do your data joins here.  It's easy to accidentally merge the wrong way to accidentally create a _much bigger_ dataset.

In [4]:
# Keep a reference around to the plain pandas dataframe, without geometry data, just in case
just_names = names

names = depts.merge(names, how='right', left_on='code', right_on='dpt')

names.sample(5)

,code,nom,geometry,sexe,preusuel,annais,dpt,nombre
800231,38,Isère,"POLYGON ((5.62375 45.61327, 5.62303 45.60428, ...",1,JEAN-MARIE,1961,38,10
2918573,52,Haute-Marne,"POLYGON ((4.67018 48.53189, 4.71801 48.54199, ...",2,MADELEINE,1946,52,9
797908,75,Paris,"POLYGON ((2.41634 48.84924, 2.46226 48.84254, ...",1,JEAN-MARIE,1913,75,3
2624056,88,Vosges,"POLYGON ((5.47006 48.42093, 5.51099 48.41822, ...",2,JENNIFER,1983,88,26
1953451,08,Ardennes,"POLYGON ((4.23316 49.95775, 4.3081 49.96952, 4...",2,AYA,2009,08,3

# Show a name over all years

Now we'll choose a name to show across all years.  To that, we'll group all of the names in a department together (squashing the years together) and use the sum.

In [5]:
# grouped = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False).sum()
grouped = names.groupby(['dpt', 'preusuel', 'sexe'], as_index=False)['nombre'].sum()
grouped = depts.merge(grouped, how='right', left_on='code', right_on='dpt') # Add geometry data back in
grouped

,code,nom,geometry,dpt,preusuel,sexe,nombre
0,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,AARON,1,160
1,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABBY,2,3
2,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDALLAH,1,7
3,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDEL,1,3
4,01,Ain,"POLYGON ((4.78021 46.17668, 4.79458 46.21832, ...",01,ABDELKADER,1,3
...,...,...,...,...,...,...,...
239574,NaN,NaN,None,974,ÉSAÏE,1,3
239575,NaN,NaN,None,974,ÉTHAN,1,53
239576,NaN,NaN,None,974,ÉTIENNE,1,3
239577,NaN,NaN,None,974,ÉVA,2,32
239578,NaN,NaN,None,974,ÉVAN,1,10

Now let's pick a name and check out how it's distribution over the last 120 years across Metropolitan France.  In this example, I choose the name “Lucien,” which I rather like for some reason.

In [6]:
name = 'ANNA'
subset = grouped[grouped.preusuel == name]
alt.Chart(subset).mark_geoshape(stroke='white').encode(
    tooltip=['nom', 'code', 'nombre'],
    color='nombre',
).properties(width=800, height=600)

/opt/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/opt/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/opt/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)
/opt/anaconda3/lib/python3.11/site-packages/altair/utils/core.py:395: FutureWarning: the convert_dtype parameter is deprecated and will be removed in a future version.  Do ``ser.astype(object).apply()`` instead if you want ``convert_dtype=False``.
  col = df[col_name].apply(to_list_if_array, convert_dtype=False)

alt.Chart(...)